<div class="container">
    <div class="timer">
        <div class="bg">
            <div class="logo">
                <div class="sairam">
                    <img src="./assets/images/sairam_logo.png" />
                </div>
                <div class="ieee">
                    <img src="./assets/images/ieee_logo.PNG" />
                </div>
            </div>
            <div class="font" style="margin-left: 70px;">
                <div class="f1">
                    <p>NATIONAL CONCLAVE ON</p>
                </div>
                <div class="f2">HUMANITARIAN TECHNOLOGIES</div>
            </div>
            <div class="time">
                <div class="back">
                    <div class="count" style="font-size: 50px;">{{days}}</div>
                    <div>
                        <p>Days</p>
                    </div>
                </div>
                <div class="back">
                    <div class="count" style="font-size: 50px;">{{hours}}</div>
                    <div>
                        <p>Hours</p>
                    </div>
                </div>
                <div class="back">
                    <div class="count" style="font-size: 50px;">{{mins}}</div>
                    <div>
                        <p>Mins</p>
                    </div>
                </div>
                <div class="back">
                    <div class="count" style="font-size: 50px;">{{secs}}</div>
                    <div>
                        <p>Secs</p>
                    </div>
                </div>
            </div>
            <div class="reg">
                <button class="regbutton">Register Now</button>
            </div>
        </div>
    </div>

    <div class="content">
        <p>The National Conclave on Humanitarian Technologies is a prestigious leadership conclave with a powerful
            mission - to use technology for the greater good. We believe that by harnessing the potential of technology,
            we can address global challenges and make a meaningful impact on the lives of those in need. Our Conclave
            brings together inspiring visionaries, innovators, and experts from various fields. We encourage
            collaboration, idea exchange, and transformative change for the betterment of society. Through this event,
            we aim to create a unique platform for knowledge-sharing and showcasing groundbreaking initiatives.</p>
    </div>
</div>