<div class="container">
    <div class="content">
        <div>
            <p style="font-size: 50px; font-weight: bold; margin-left: 640px;">ABOUT US</p>
        </div>
        <div class="expand">
            <div class="con">
                <p style="font-size: 35px; font-weight: bold;">ABOUT SAIRAM</p>
                <p style="margin-top: -70px;">Sairam Institutions, a beacon of academic excellence and holistic development, have been a shining
                    light
                    in the field of education. Nestled in the vibrant city of Chennai, Tamil Nadu, these institutions
                    have
                    consistently carved a path of success and growth for their students, nurturing them into
                    well-rounded
                    individuals ready to conquer the world.
                    <br><br>
                    Beyond academic brilliance, Sairam Institutions firmly believe in fostering a culture of all-round
                    development. They provide a nurturing environment where students are encouraged to pursue their
                    passions
                    and interests outside the classroom. The institutions offer an array of co-curricular and
                    extracurricular activities, including sports, cultural events, and technical competitions, allowing
                    students to explore their talents and build essential leadership and teamwork skills. Sairam
                    Institutions also place a significant emphasis on research and innovation. They inspire a spirit of
                    curiosity and creativity among students, empowering them to engage in groundbreaking research
                    projects
                    and contribute to the advancement of knowledge. The institutions provide ample resources and support
                    for
                    research endeavours, creating a conducive environment for budding innovators.
                    <br><br>
                    Furthermore, Sairam Institutions maintain a strong network of alumni who have excelled in diverse
                    fields
                    and are a testament to the quality of education and values instilled by the institutions. The alumni
                    community acts as a valuable resource, providing guidance and support to current students and
                    strengthening the bond between past and present. The institution has a remarkable heritage of
                    touching
                    milestones every academic year to confirm its supremacy in creating valuable, technologically sound
                    and
                    socially concerned human resources. Known for its foremost experience in field of education, the
                    management is dedicated in lifting up aspirants with professional knowledge and other
                    interdisciplinary
                    background and extra-curriculum to create successful leaders in various fields of science,
                    technology
                    and management and is determined to create innovators who will contribute in a bigger way for the
                    happier and healthier human life in the Globe.
                </p>
                <p style="font-size: 35px; font-weight: bold;">ABOUT IEEE</p>
                <p style="margin-top: -70px; width: 140%;">IEEE, the Institute of Electrical and Electronics Engineers, is a prominent global professional
                    association committed to advancing technology for the benefit of humanity. With a vast membership
                    and a broad scope that encompasses electrical engineering, electronics, computer science, and
                    related fields, IEEE plays a pivotal role in shaping innovation. It publishes scientific journals,
                    conference papers, and standards, which guide technology development worldwide. By fostering
                    collaboration and knowledge sharing among researchers, engineers, and professionals, IEEE
                    facilitates the creation and dissemination of cutting-edge advancements, contributing to the
                    continuous progress and transformation of various industries.</p>
            </div>
            <div class="image">
                <div><img src="../../../assets/images/about.jpg" /></div>
                <div><img src="../../../assets/images/drone.JPG" /></div>
            </div>
        </div>
        <mat-divider style="border-color: white; width: 93%; border-width: 4px; margin-left: 50px;"> </mat-divider>
        <div style="display: inline-flex; margin-left: 90px;">
            <div style="width: 40%;">
                <p class="head">OUR MISSION</p>
                <p>We dedicate and commit ourselves to achieve, sustain and foster unmatched excellence in Technical
                    Education. To this end, we will pursue continuous development of infrastructure and enhance
                    state-of-the art equipment to provide our students a technologically up-to-date and intellectually
                    inspiring environment of learning, research, creativity, innovation and professional activity and
                    inculcate in them ethical and moral values</p>
            </div>
            <div style="margin-top: 30px; margin-left: 70px;">
                <h3>I</h3>
                <h3>I</h3>
                <h3>I</h3>
                <h3>I</h3>
                <h3>I</h3>
                <h3>I</h3>
                <h3>I</h3>
                <h3>I</h3>
                <h3>I</h3>
            </div>
            <div style="width: 40%; margin-left: 120px;">
                <p class="head">OUR VISION</p>
                <p> To emerge as a “Centre for excellence” offering Technical Education and Research Opportunities of
                    very high standards to students, develop the total personality of the individual, and instill high
                    levels of discipline and strive to set global standards, making our students technologically
                    superior and ethically strong, who in turn shall contribute to the advancement of society and
                    humankind.
                </p>
            </div>
        </div>
    </div>
</div>