<div class="container">
    <div class="event">
        <h1>PROJECT SHOWCASE</h1>
        <p style="margin-top: 90px;">Project showcase is a contest for individuals or startups where they can present their innovative
            humanitarian technologies. The theme of the contest is to bring up the ideas for solving the corresponding
            longing issues in the community.
        </p>
        <br><br>
        <p>Rules for Project Showcase:</p>
        <ul>
            <li>
                <p>Required SDG Goals for the corresponding project must be mapped.
                </p>
            </li>
            <li>
                <p>Explanation of the project and demonstration should take only 15 minutes which will be followed by
                    QnA session by Jury.
                </p>
            </li>
        </ul>
        <div class="reg">
            <button class="regbutton" routerLink="/main/project-showcase">REGISTER</button>
        </div>
    </div>
</div>