<div class="navdiv">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a routerLink="/main/about-us" routerLinkActive="is-active" ><span>About Us</span></a></li>
        <li><a routerLink="/main/nationalHT" routerLinkActive="is-active" ><span>National Conclave</span></a></li>
        <li><a routerLink="/main/speaker" routerLinkActive="is-active" ><span>Speakers</span></a></li>
        <!-- <li><a routerLink="/main/events" routerLinkActive="is-active" ><span>Events</span></a></li> -->
        <li><a routerLink="/main/registration" routerLinkActive="is-active" ><span>Registration</span></a></li>
        <li><a routerLink="/main/contact-us" routerLinkActive="is-active" ><span>Contact Us</span></a></li>
    </ul>
</div>