<div class="container">
    <div><p  class="head">SPEAKERS</p></div>
    <div class="content">
        Meet the exceptional individuals and organizations who are driving change and championing humanitarian
        technologies. Get insights into their inspiring work and accomplishments, and find opportunities to collaborate
        and contribute.
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <img style="margin-left: 120px;" src="../../../assets/images/sampath-sir.jpg"/>
            <p style="font-weight: bold;">Mr.SAMPATH KUMAR VEERARAGHAVAN</p>
            <p>Global Chair - IEEE Humanitarian<br> Activities Committee Global<br> President- IEEE Eta-Kappa-Nu (IEEE HKN)
            </p>
        </div>
     
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <img style="margin-left: 40px;" src="../../../assets/images/ceo-sir.jpg"/>
            <p style="font-weight: bold;">Dr.SRI SAI PRAKASH LEOMUTHU</p>
            <p>CHAIRMAN & CEO<br>
                Sairam group of institutions</p>
        </div>
    </div>
</div>