body {
    padding: 0;
    margin: 0;
    /* background-image: url("../src/assets/images/college_2.jpg"); */
}


html,
body {
    height: 100vh;
    height: -webkit-fill-available;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    flex-direction: column;
    height: -webkit-fill-available;
}