body {
    padding: 0;
    margin: 0;
    /* background-image: url("../src/assets/images/college_2.jpg"); */
}


html,
body {
    height: 100%;

}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}
@media(max-width:576px){
    .container{
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column-reverse;
    }
}