<div class="container">
  <div>
    <div class="event">
      <h1>PROJECT SHOWCASE</h1>
      <p>Project showcase by individuals or startups where they can present their innovative humanitarian technologies
        by
        making a stall in the front auditorium. Could be incubated or awarded.
      </p>
      <div class="reg">
        <button class="regbutton" routerLink="/main/project-showcase">VIEW DETAILS</button>
      </div>
    </div>
    <div class="event" style="margin-top: -30px;">
      <h1>HUMANITARIAN VIDEO CONTEST</h1>
      <p>A Humanitarian Video Competition where students or any individuals can make a 3 min video of a real-time
        Everlong
        problem statement in their locality and sustainable solution. The top videos could be presented on the day and
        could be supported with some grant or award.
      </p>
      <div class="reg">
        <button class="regbutton" routerLink="/main/video-contest">VIEW DETAILS</button>
      </div>
    </div>
  </div>
  <div class="schedule">
    <div>
      <p style="font-size: 25px; font-weight: bold;">EVENT SCHEDULE</p>
    </div>
    <div>
      <p style="font-size: 18px;">9:00 AM - 9:30 AM - Registration<br><br>
        9:30 AM - 10:15 AM - Inauguration Ceremony<br><br>
        10:15 AM - 10:45 AM - Keynote Address on what & why Humanitarian Technology and SDG <br><br>
        10:45 AM - 11:30 AM - Session: Global Perspectives on Humanitarian Technologies<br><br>
        11:30 AM - 1:00 PM - Workshop: Empowering Communities through Technology<br><br>
        1:00 PM - 2:00 PM - Lunch Break and Networking<br><br>
        2:00 PM - 3:00 PM - Panel Discussion on Advancements in Humanitarian Technologies and their Role in Societies by
        real-time leaders who have impacted the society<br><br>
        3:00 PM - 3:15 PM - The top videos and 5 mins Best project presentation.<br><br>
        3:15 PM - 4:45 PM - Workshop: Building a Humanitarian Technology Startup<br><br>
        4:45 PM - 5:30 PM - Closing Ceremony and Certificate Distribution
      </p>
    </div>
  </div>
</div>